.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.raleway{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

header{
    background-image: url("images/Hero-bg.png");
    background-size: cover;
    background-position: center;
}
body{
    background-color: #F5F8FF;
}


.btn{
    background-color: rgba(0, 0, 255, 0.8);
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    font-weight: bold;
}
.btn:hover{
    background-color: yellowgreen;
    color: #000;
    cursor: pointer;
}

nav h1{
    font-size: 34px;
    font-weight: black;
    color: blue;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    margin: 0px 50px;
}
.banner{
    text-align: center;
    color: black;
    padding: 150px 0;
}
.banner-description{
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 20px;
}
.action{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    margin: 80px 150px;
}
.radius{
    border-radius: 20px;
}
.user{
    
    margin: 0px 150px;
    background-color: rgb(201, 206, 241);
    padding: 60px;
    border-radius: 20px;
    
}
.user-number{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: auto;
    color:hwb(240 5% 5%)
    
}
.user-title{
    font-weight: 600;
    color: black;
}
.gray, .list{
    color: gray;
}
.user-item, .user-title{
    justify-items: center;
    text-align: center;
}

.person{
    display: flex;
    align-items: center;
    gap: 20px;

}
.person img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.user-card{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
    background-color: white;
    width: 300px;
}

.user-say{
    margin: 80px 150px;
}

.user-say h1{
    text-align: center;
    margin-bottom: 20px;
}

.focus{
    justify-items: center;
    align-items: center;
    padding: 50px 100px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 0px 150px;
    border-radius: 20px;


}
.focus img{
    align-items: center;
    border-radius: 10px;
    width: 600px;
    margin-top: 10px;
}

.touch-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 150px;

}
input[type="text"], input[type="email"], textarea{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.submit{
    padding: 10px 100px;
}
footer{
    background-color: white;
    padding: 100px;
    text-align: center;
}

footer a{
    text-decoration: none;
        color: gray;

}
footer ul{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}
footer p{
    text-align: center;
}

